@font-face {
  font-family: U-bold;
  src: local("Ubuntu-Bold"), url("../assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: U-medium;
  src: local("Ubuntu-Medium"), url("../assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: U-regular;
  src: local("Ubuntu-Regular"), url("../assets/fonts/Ubuntu-Regular.ttf");
}
