:root {
  --main-txt-color: hsl(213, 96%, 18%); // Marine blue
  --sub-placeholder-txt: hsl(231, 11%, 63%); // Cool gray
  --pricing-br-color: hsl(243, 100%, 62%); // Purplish blue
  --steps-bg-color: hsl(206, 94%, 87%); // Light blue
  --steps-txt-color: hsl(228, 100%, 84%); // Pastel blue
  --main-bg-color: hsl(217, 100%, 97%); // Magnolia
  --form-bg-color: hsl(231, 100%, 99%); // Alabaster
  --white: white;
  //   --steps-txt-color: hsl(354, 84%, 57%); // Strawberry red
}
