@use "./index" as *;
@use "./step-one.scss";
@use "./step-two.scss";
@use "./step-three.scss";
@use "./step-four.scss";
@use "./thank-you.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-txt-color: hsl(213, 96%, 18%); // Marine blue
  --sub-placeholder-txt: hsl(231, 11%, 63%); // Cool gray
  --pricing-br-color: hsl(243, 100%, 62%); // Purplish blue
  --steps-bg-color: hsl(206, 94%, 87%); // Light blue
  --steps-txt-color: hsl(228, 100%, 84%); // Pastel blue
  --main-bg-color: hsl(217, 100%, 97%); // Magnolia
  --form-bg-color: hsl(231, 100%, 99%); // Alabaster
  --white: white;
  --error-color: hsl(354, 84%, 57%); // Strawberry red
}

body {
  font-family: U-medium;
  background-color: var(--main-bg-color);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main.container {
  width: 100%;
  grid-template-columns: 1fr;
}

aside {
  background-image: url(/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;

  .steps {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    padding: 3rem 2rem;

    .step {
      display: flex;
      align-items: center;
      gap: 20px;

      .step-num {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 1px solid var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-weight: 700;
      }

      &.active .step-num {
        background-color: var(--steps-bg-color);
        color: var(--main-text-color);
      }

      .text {
        display: none;
      }
    }
  }
}

.step-displayer {
  height: fit-content;
  padding: 2rem 1rem 10px;
  background-color: var(--white);
  margin: 0 1.25rem;
  transform: translateY(-80px);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .header {
    .title {
      font-size: 1.6rem;
      color: var(--main-txt-color);
      margin-bottom: 10px;
    }

    .subtitle {
      font-weight: 500;
      color: var(--sub-placeholder-txt);
    }
  }
}

.actions-btns {
  display: none;
  justify-content: space-between;
  align-items: center;

  &.active {
    display: flex;
  }
}

footer {
  display: none;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--white);
  width: 100%;

  &.active {
    display: block;
  }
}

.btn {
  border: none;
  outline: none;
  font-size: 14px;
  font-family: inherit;
  letter-spacing: 1.5px;
  font-weight: 700;
  cursor: pointer;
}

.back-btn {
  background-color: transparent;
  color: var(--sub-placeholder-txt);

  &:hover {
    color: var(--main-txt-color);
  }
}

.next-btn {
  background-color: var(--main-txt-color);
  color: var(--white);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 10px 20px;
  align-self: flex-end;

  &:hover {
    background-color: lighten(hsl(213, 96%, 18%), 5);
  }
}

@media (min-width: 768px) {
  body {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  main.container {
    width: 80%;
    max-width: 71.25rem;
    display: grid;
    grid-template-columns: 240px 1fr;
    min-height: 33.75rem;
    padding: 10px;
    margin: 0 1rem;
    background-color: var(--form-bg-color);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  aside {
    user-select: none;
    background-image: url(/bg-sidebar-desktop.svg);
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    .steps {
      flex-direction: column;

      .step {
        .step-num {
          width: 2.5rem;
          height: 2.5rem;
        }
        .text {
          display: block;
          text-transform: uppercase;

          .title {
            font-size: 1rem;
            color: var(--steps-txt-color);
            margin-bottom: 7px;
            font-weight: 500;
          }

          .subtitle {
            color: var(--white);
            letter-spacing: 2px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .step-displayer {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    height: auto;
    background-color: transparent;
    margin: 0;
    gap: 2rem;

    .header {
      .title {
        font-size: 2rem;
        color: var(--main-txt-color);
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 1rem;
        color: var(--sub-placeholder-txt);
      }
    }

    .step-content {
      flex: 1;
    }

    .actions-btns {
      margin-top: auto;

      .btn {
        font-size: 1rem;
      }

      .next-btn {
        padding: 15px 25px;
        border-radius: 10px;
        font-weight: 500;
        margin-left: auto;
      }
    }
  }
}

@media (min-width: 800px) {
  main.container {
    grid-template-columns: 270px 1fr;
  }

  aside .steps .step .text .subtitle {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  main.container {
    grid-template-columns: 300px 1fr;
  }
  .step-displayer {
    padding: 1.5rem 3rem 10px;

    .header .title {
      font-size: 2.5rem;
    }
  }
}

@media (min-width: 1200px) {
  .step-displayer {
    padding: 3rem 5rem 10px;

    .header .subtitle {
      font-size: 1.2rem;
    }
  }
}
